/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap.scss';
@import "~leaflet/dist/leaflet.css";

$analysis-coordination-color: #278A00;
$light-background-color: #fffbf5;
$medium-background-color: #ede6da;

html, body {
  background-color: $light-background-color;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.accordion {
  /* ngb-accordion */
  width: 100%;

  div.card-header {
    height: 40px;
    padding: 0;
    background-color: darken($light-background-color, 3%);

    button {
      color: black;
    }
  }

  .card-body {
    text-align: justify;
  }
  
}

.info_control {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info_control h5 {
  margin: 0 0 5px;
  color: #777;
}
.info_control_hover {
  width: 260px;
}
.info_control_legend {
  line-height: 18px;
  color: #555;
}
.info_control_legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}