<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="display-4">Cancer and Nitrate in Drinking Water</h2>
        <p class="lead">Explore the relationship yourself</p>
        <hr class="my-4">
        <p>Cory Leigh Rahman, Master's in GIS & Web Map Programming, University of Wisconsin-Madison</p>
        <p>March, 2020</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Introduction</h3>
      <p>The question we want to explore is: <strong>Is there a relationship between Nitrate in drinking water and
          Cancer?</strong></p>
      <ul>
        <li>Independent (Explanatory) Variable: <strong>Nitrate Concentration</strong> from water well samples
          <em>(parts per million)</em></li>
        <li>Dependent Variable: <strong>Cancer Rate</strong> from census tracts <em>(percentage of population)</em></li>
      </ul>
    </div>
    <div class="col-xs-12">
      <h5>Methodology</h5>
      <img class="img-fluid" id="img-analysis-flow-chart" src="/static/assets/images/analysis-flow-chart.png">
      <ngb-accordion [closeOthers]="true" activeIds="">
        <ngb-panel id="accordion-methodology" title="&#9432; Explanation of Methodology and Flow Chart">
          <ng-template ngbPanelContent>
            This flow chart shows the process for our analysis. We start with two <strong>inputs</strong>: cancer rates from census
            tracts, and nitrate concentrations from well water samples (both from 2016). In order to explore the relationship between these
            factors they must be in the same form. To get the data in the same form we <strong>interpolate</strong> the well samples and
            use <strong>zonal statistics</strong> to get the average nitrate concentration per census tract. Once both cancer rates and
            average nitrate concentration are averaged per census tract we can run a <strong>linear regression</strong>. The "R-squared"
            value of the regression results will tell us how much of the cancer rate could be explained by nitrate
            concentration in drinking water.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <p><br>The green-colored steps (<span class="analysis-coordination-color font-weight-bold">Interpolation</span>,
        <span class="analysis-coordination-color font-weight-bold">Residuals</span>, and <span
          class="analysis-coordination-color font-weight-bold">Results</span>) are the steps we can interact with in
        this
        app. The rest is done automatically for you. You can set
        the Interpolation parameters, run the full analysis, and explore the results.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <h3>Analysis</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <h5><span class="analysis-coordination-color">Interpolation</span> Parameters</h5>
      <p>The most subjective part of this analysis is how to do the interpolation. The <strong>Power</strong>
        (distance decay exponent) and <strong>Smoothing</strong> values affect how nitrate concentration is estimated
        for
        areas between water wells.</p>
      <img id="img-interpolation-parameters" src="/static/assets/images/interpolation-parameters.png">
    </div>
    <div class="col-sm-5 col-lg-4">
      <h5>Run the Analysis</h5>
      <form class="analysis-input-form">
        <div class="form-group">
          <label for="idw_power_input">Power</label>
          <input [(ngModel)]="idw_power" [disabled]="waitingForResults" step="0.1" name="idw_power" type="number" min="0" max="143"
            placeholder="Enter a number > 0" class="form-control" id="idw_power_input" required>
          <small id="emailHelp" class="form-text text-muted">Default: 2</small>
          <small id="emailHelp" class="form-text text-muted">Also called <em>distance decay exponent</em></small>
        </div>
        <div class="form-group">
          <label for="idw_smoothing_input">Smoothing</label>
          <input [(ngModel)]="idw_smoothing" [disabled]="waitingForResults" step="0.1" name="idw_smoothing" type="number" min="0" max="143"
            placeholder="Enter a number >= 0" class="form-control" id="idw_smoothing_input" required>
          <small id="emailHelp" class="form-text text-muted">Default: 1</small>
        </div>
        <!-- <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button (click)="runAnalysis()" [disabled]="waitingForResults" type="submit" class="btn btn-primary">
          <span *ngIf="waitingForResults" class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true"></span>
          {{waitingForResults ? "Running Analysis..." : analysisCount < 1 ? "Run Analysis" : "Re-run Analysis"}}
        </button>
      </form>
    </div>
    <div class="col-sm-7 col-lg-4" id="analysis-log">
      <h5>Log</h5>
      <div class="log-wrapper">
        <pre>{{analysisLog}}</pre>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 map-column">
      <div id="residuals-map-intro">
        <br>
        <h5>Map of Regression <span class="analysis-coordination-color">Residuals</span></h5>
        <ngb-accordion [closeOthers]="true" activeIds="">
          <ngb-panel id="accordion-residuals-map" title="&#9432; Explanation of Residuals Map">
            <ng-template ngbPanelContent>
              Using linear regression we can guess what the cancer rate will be in any given census tract based only on
              the nitrate concentration in water there. This map displays the difference (i.e.
              <strong>residual</strong>) between our guesses and the actual cancer rates in each tract.
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
        <br>
      </div>
      <div id="residuals-map"></div>
      <button id="geojson_download_button" (click)='promptGeoJsonDownload()' *ngIf="analysisCount > 0" class="btn btn-secondary" title="Download this GeoJSON">&#10515;</button>
    </div>

    <div class="col-xl-6 regression-results-column">
      <div id="regression-results-intro">
        <br>
        <h5>Summary of Regression <span class="analysis-coordination-color">Results</span></h5>
        <ngb-accordion [closeOthers]="true" activeIds="">
          <ngb-panel id="accordion-regression-results" title="&#9432; Explanation of Regression Summary">
            <ng-template ngbPanelContent>
              The regression summary tells us 1) What the R-Squared value is, and 2) if we can trust the R-Squared
              value. An R-Squared value of 0.20, for example, would suggest that nitrate in drinking water could explain
              20% of the cancer rate. The other statistics tell us if the R-Squared value can be trusted.
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
        <br>
      </div>
      <div class="regression-results-wrapper">
        <pre id="regression-results">{{regressionResultsString}}</pre>
      </div>
    </div>

    <!-- Add space at the end of the page -->
    <div class="col-xs-12">
      <br><br>
    </div>

  </div>
</div>
